@CHARSET "UTF-8";
*{ margin:0; padding:0; list-style:none; text-decoration:none;}

.body{min-width: 1000px;
min-height: 100%;
margin: 0 auto;
z-index: 0;
background-color: #f3f3f3;

overflow: hidden;
}

li,ul,img,a,div{
    border: 0;
    list-style: none;
}

.nav-frame{
	width:235px;
	height: 500px;
	margin-left:200px;
	margin-top:40px;
	float:left;
}

.nav-title {
	font-size: 24px;
	padding: 0 0 0 38px;
	font-weight: normal;
}

.nav-wrap {
	margin-top:40px;
}
.nav-wrap .item{
	
	padding: 0px 30px;
	text-align:center;
	width:220px;
	height: 40px;
	line-height: 40px;
}

.nav-wrap .nav-con{
	
	margin-left:20px;
}

.nav-ul a{ display:block; height:40px; vertical-align: middle; margin:10px 0;}
.nav-ul a:visited { background:#f66;text-decoration:none;}
.nav-ul a:hover{ color:#fff;text-decoration:none;background:#f66;border-radius: 10px;}

.on{background:#f66;border-radius: 10px;color:#fff;text-decoration:none;}

.frame-outer{
	position:relative;
	width:731px;
	height: 1175px;
	float:left;
	margin-left:15px;
	margin-top: 10px;
	border-radius:10px;
	box-shadow: 0 0 14px #848484;
	background: #fff;
	padding: 25px;
}
.frame-title{
	border-bottom: #ccc solid 1px;
}
.frame-title a{cursor:pointer;margin-left:600px; font-weight: bold;}
.frame-title a:HOVER{text-decoration:none}
.clear{clear:both;}

.frame-wrap{
	margin:30px auto;
}
.list{margin:8px auto; padding:4px 0; border-bottom:1px dotted #d3d3d3;height:80px;} 
.list img{float:left; width:50px; margin:4px 0px;}
.list p{font-size: 10px;}
.info{float:left; width:530px; overflow:hidden;text-align: left; margin-left: 10px;} 
.info .left{float:left;line-height:18px;overflow:hidden;text-align: left;} 
.info .left strong{margin-right:6px;} 
.info .time{float:left;overflow:hidden;text-align: left;}
.info .right{float: right;line-height:20px; } 
.list a{
	cursor: pointer;
}

.date{color:#999;}


.theme-popover-mask {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	display:none
}
.theme-popover, .theme-popover2 {
	z-index:9999;
	position:fixed;
	top:30%;
	left:50%;
	width:731px;
	height:600px;
	margin:-180px 0 0 -330px;
	border-radius:5px;
	border:solid 2px #666;
	background-color:#fff;
	box-shadow: 0 0 10px #666;
	overflow-y: auto;
	overflow-x: auto;
}
.theme-poptit,.theme-poptit2 {
	border-bottom:1px solid #ddd;
	padding:12px;
	position: relative;
}
.theme-poptit, .theme-poptit2{
	text-align: center;
}

.close {
	float:right;
	color:#999;
	padding:5px;
	margin:-2px -5px -5px;
	font:bold 14px/14px simsun;
	text-shadow:0 1px 0 #ddd
}
.close:hover {
	color:#444;
}

.theme-popover2 .content ul{
	text-align: center;
	margin:0;
}
.theme-popover2 .content li{
	margin:20px;
} 
.theme-popover2 .content .item{
	height: 21px;
	line-height: 21px;
	color: #555;
	width: 380px;
	vertical-align: baseline;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 #f8f8f8;
	background-color: #fff;
	padding: 4px 6px;
	margin-left:5px;
	border: solid 1px #d2d2d2;
	border-left-color: #ccc;
	border-top-color: #ccc;
}
.theme-popover2 .content .detail {
	margin-left:15px;
	height: 350px;
	line-height: 21px;
	color: #555;
	width: 380px;
	vertical-align: text-top;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 #f8f8f8;
	background-color: #fff;
	padding: 4px 6px;
	border: solid 1px #d2d2d2;
	border-left-color: #ccc;
	border-top-color: #ccc;
}

.btn{background-color: #ff0000; color:#fff;}