@CHARSET "UTF-8";
*{ margin:0; padding:0; list-style:none; text-decoration:none;}
li,ul,img,a,div{
    border: 0;
    list-style: none;
}

div {
	display:block;
}


/* 正文 */
.ue-bar{  padding-top:0px; margin:0 auto}
.ue-bar-wrap{ position:relative; width:100%; height:40px; background:#C70757; overflow:hidden}
.nav-item{ position:relative; float:left; width:100px; height:40px; line-height:40px; text-align:center; font-size:14px; z-index:1}
.nav-item a{ display:block; height:40px; color:#fff;vertical-align: top;}
.nav-item a:hover{ background:#800000}
.nav-item a:active{ background:#800000}
.nav-item a:visited { background:#800000}

.nav-login {
	float:right;
}
.ue-bar-logo{
	width: 200px;
    height: 54px;
    float: left;
    padding-left: 80px;
    padding-top: 8px;
}

.ue-bar-logo a{
	 display: inline-block;
    width: 100%;
    height: 100%;
   
}

.nav-bar {
	height: 70px;
    float: left;
}