@CHARSET "UTF-8";
*{ margin:0; padding:0; list-style:none; text-decoration:none;}

.body{min-width: 1000px;
min-height: 100%;
margin: 0 auto;
z-index: 0;
background-color: #f3f3f3;
text-align: center;
overflow: hidden;
}

li,ul,img,a,div{
    border: 0;
    list-style: none;
}

.nav-frame{
	width:235px;
	height: 500px;
	margin-left:200px;
	margin-top:40px;
	float:left;
}

.nav-title {
	font-size: 24px;
	padding: 0 0 0 38px;
	font-weight: normal;
}

.nav-wrap {
	margin-top:40px;
}
.nav-wrap .item{
	
	padding: 0px 30px;
	text-align:center;
	width:220px;
	height: 40px;
	line-height: 40px;
}

.nav-wrap .nav-con{
	
	margin-left:20px;
}

.nav-ul a{ display:block; height:40px; vertical-align: middle; margin:10px 0;}
.nav-ul a:visited { background:#f66;text-decoration:none;}
.nav-ul a:hover{ color:#fff;text-decoration:none;background:#f66;border-radius: 10px;}

.on{background:#f66;border-radius: 10px;color:#fff;text-decoration:none;}

.frame-outer{
	position:relative;
	width:731px;
	height: 1450px;
	float:left;
	margin-left:15px;
	margin-top: 10px;
	border-radius:10px;
	box-shadow: 0 0 14px #848484;
	background: #fff;
	padding: 25px;
}

.frame-outer .title{
	font-family: "微软雅黑";
}

.health-con {
	height:300px;
}
.health-con .target{
	border-radius:50%;
	width:180px;
	height:180px;
	background-color: #FFE3AC;
	float:left;
	margin-left: 40px;
}

.health-con .sleep{
	border-radius:50%;
	width:180px;
	height:180px;
	background-color: #6FC4DC;
	float:left;
	margin-left: 40px;
}

.health-con .health{
	border-radius:50%;
	width:180px;
	height:180px;
	background-color: #E7F5CE;
	float:left;
	margin-left: 40px;
}

.sports-total{
	height:200px;
}

.distance,.time,.energy{
	float:left;
}

.sports-total img{
	float:left;
}

.sports-total .wrap .distance{ margin-left:30px;}
.sports-total .wrap .time{ margin-left:140px;}
.sports-total .wrap .energy{ margin-left:120px;}
.sports-total .wrap span{float: left;}

.transfer{height:300px;	border:1px black solid;}

.transfer .wrap .circle, .transfer .wrap .gas{
	width:163px;
	height:176px;
	background-color: #F1CC7E;
	float:left;
	margin-left: 2px;
}
.transfer .wrap .meat, .transfer .wrap .light{
	width:163px;
	height:176px;
	background-color: #B0B0B0;
	float:left;
	margin-left: 2px;
}