@CHARSET "UTF-8";
*{ margin:0; padding:0; list-style:none; text-decoration:none;}

.body{min-width: 1000px;
min-height: 100%;
margin: 0 auto;
z-index: 0;
background-color: #f3f3f3;
text-align: center;
overflow: hidden;
}

li,ul,img,a,div{
    border: 0;
    list-style: none;
}

.nav-frame{
	width:235px;
	height: 500px;
	margin-left:200px;
	margin-top:40px;
	float:left;
}

.nav-title {
	font-size: 24px;
	padding: 0 0 0 38px;
	font-weight: normal;
}

.nav-wrap {
	margin-top:40px;
}
.nav-wrap .item{
	
	padding: 0px 30px;
	text-align:center;
	width:220px;
	height: 40px;
	line-height: 40px;
}

.nav-wrap .nav-con{
	
	margin-left:20px;
}

.nav-ul a{ display:block; height:40px; vertical-align: middle; margin:10px 0;}
.nav-ul a:visited { background:#f66;text-decoration:none;}
.nav-ul a:hover{ color:#fff;text-decoration:none;background:#f66;border-radius: 10px;}

.on{background:#f66;border-radius: 10px;color:#fff;text-decoration:none;}

.frame-outer{
	position:relative;
	width:731px;
	height: 1450px;
	float:left;
	margin-left:15px;
	margin-top: 10px;
	border-radius:10px;
	box-shadow: 0 0 14px #848484;
	background: #fff;
	padding: 25px;
}

.frame-outer {
	font-family: "微软雅黑";
}

.health-con {
	height:250px;
}

.sports-total{
	height:200px;
}
.sport-distance,.sport-time,.sport-energy,.sport-step{
	float:left;
	margin-top:50px;
	color:#666673;
}
.sport-distance{margin-left: 50px;}
.sport-time{margin-left: 90px;}
.sport-energy{margin-left: 90px;}
.sport-step{margin-left: 90px;}
.special-num{
	font-size:28px;
}
.distance,.time,.energy{
	float:left;
}

.sports-total img{
	float:left;
}

.sports-total .wrap .distance{ margin-left:30px;}
.sports-total .wrap .time{ margin-left:50px;}
.sports-total .wrap .energy{ margin-left:50px;}
.sports-total .wrap span{font-size: 28px;color: #E0B02E;}
.sports-total .wrap ul{float: left;}

.transfer{height:300px;}

.transfer .wrap .circle, .transfer .wrap .gas{
	width:163px;
	height:176px;
	background-color: #F1CC7E;
	float:left;
	margin-left: 2px;
}
.transfer .wrap .meat, .transfer .wrap .light{
	width:163px;
	height:176px;
	background-color: #B0B0B0;
	float:left;
	margin-left: 2px;
}

.rank .one{background-color: red;}
.rank .two{background-color: #59BEDC;}
.rank .three{background-color: #FFAD03;}
.rank .other{background-color: #6F9D17;}

.rank .wrap{text-align: left;font-size: 20px;color:#B0B0B0;}
.rank .wrap ul{margin-left :80px;}
.rank .wrap li{margin :5px;padding: 0;}
.rank .wrap span{margin-right: 10px;}
.rank .wrap .dis{margin-left: 10px;}
