@CHARSET "UTF-8";
*{ margin:0; padding:0; list-style:none; text-decoration:none;}

.body{min-width: 1000px;
min-height: 100%;
margin: 0 auto;
z-index: 0;
background-color: #f3f3f3;
text-align: center;
overflow: hidden;
}

li,ul,img,a,div{
    border: 0;
    list-style: none;
}

.nav-frame{
	width:235px;
	height: 500px;
	margin-left:200px;
	margin-top:40px;
	float:left;
}

.nav-title {
	font-size: 24px;
	padding: 0 0 0 38px;
	font-weight: normal;
}

.nav-wrap {
	margin-top:40px;
}
.nav-wrap .item{
	
	padding: 0px 30px;
	text-align:center;
	width:220px;
	height: 40px;
	line-height: 40px;
}

.nav-wrap .nav-con{
	
	margin-left:20px;
}

.nav-ul a{ display:block; height:40px; vertical-align: middle; margin:10px 0;}
.nav-ul a:visited { background:#f66;text-decoration:none;}
.nav-ul a:hover{ color:#fff;text-decoration:none;background:#f66;border-radius: 10px;}

.on{background:#f66;border-radius: 10px;color:#fff;text-decoration:none;}

.frame-outer{
	position:relative;
	width:731px;
	height: 1175px;
	float:left;
	margin-left:15px;
	margin-top: 10px;
	border-radius:10px;
	box-shadow: 0 0 14px #848484;
	background: #fff;
	padding: 25px;
	font-family: "微软雅黑";
}

.frame-outer .title{
	font-family: "微软雅黑";
}

.frame-outer .wrap{
	position: relative;
	height:280px;
}
.sleep-analyse{
	width: 100%;
	height: 600px;
	background-color: #F3F3F3;
	border-radius:10px;
}
.sleep-analyse .circle-result{
	border-radius:50%;
	width: 135px;
	height: 135px;
	background-color: #59BEDC;
	border:1px solid white;
	margin-left:40px;
	margin-top: 40px;
	float:left;
	z-index: 3;
	position: absolute;
}
.sleep-lv{
	color:#fff;
	text-align: center;
	font-size:20px;
	margin-top:25px;
}
.percent-lv{
	color:#fff;font-size: 36px;font-weight: bold;
}

.start, .end, .total, .useful{
	float: left;
	position: absolute;
}

.start{margin-left:200px;margin-top:100px;}
.end{margin-left:300px;margin-top:100px;}
.total{margin-left:400px;margin-top:100px;}
.useful{margin-left:500px;margin-top:100px;}

.wrap2{
	border:1px black solid;
	height:300px;
}
