@CHARSET "UTF-8";
.*{margin:0; padding:0; list-style:none; text-decoration:none;}


div {
	display:block;
}
li,ul,a{
	list-style: none;
	text-decoration: none;
}
/*登录界面*/
.login{ 
	
	width:560px;
	height:350px;

	margin:100px auto;
	border-radius:5px;
	border:solid 2px #666;
	box-shadow: 0 0 10px #666;
}

.login-wrap {
	width:500px;
	height:200px;
	margin:20px auto;
	
	
}

.login-form ul{
	text-align: center;
	padding:0;
	margin:0;
}

.login-form li{
	
	margin: 20px;
}

.login-form h4{
	color:#999;
	font-weight:100;
	margin-bottom: 20px;
	font-size: 12px;
}

.item {
	height: 21px;
	line-height: 21px;
	color: #555;
	width: 180px;
	vertical-align: baseline;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 #f8f8f8;
	background-color: #fff;
	padding: 4px 6px;
	margin-left:5px;
	border: solid 1px #d2d2d2;
	border-left-color: #ccc;
	border-top-color: #ccc;
}

.btn{
	cursor: pointer;/*让鼠标变成手*/
	height: 29px;
	border-color: #ff0000;
	color: #F3F7FC;
	background-color: #ff0000;
	font-size: 12px;
	font-weight: bold;
	line-height: 27px;
	text-decoration: none;
	border-radius: 2px;
	min-width: 52px;
}

.btn:HOVER{
	border-color:#d50000;
	color:#fff;
	background-color: #f40000;
}

.register{
	margin-left:20px;
}
.login-title{
	border-bottom:1px solid #ddd;
	padding:12px;
}