@CHARSET "UTF-8";
*{ margin:0; padding:0; list-style:none; text-decoration:none;}

.body{min-width: 1000px;
min-height: 100%;
margin: 0 auto;
z-index: 0;
background-color: #f3f3f3;
text-align: center;
overflow: hidden;
}

li,ul,img,a,div{
    border: 0;
    list-style: none;
}

.nav-frame{
	width:235px;
	height: 500px;
	margin-left:200px;
	margin-top:40px;
	float:left;
}

.nav-title {
	font-size: 24px;
	padding: 0 0 0 38px;
	font-weight: normal;
}

.nav-wrap {
	margin-top:40px;
}
.nav-wrap .item{
	
	padding: 0px 30px;
	text-align:center;
	width:220px;
	height: 40px;
	line-height: 40px;
}

.nav-wrap .nav-con{
	
	margin-left:20px;
}

.nav-ul a{ display:block; height:40px; vertical-align: middle; margin:10px 0;}
.nav-ul a:visited { background:#f66;text-decoration:none;}
.nav-ul a:hover{ color:#fff;text-decoration:none;background:#f66;border-radius: 10px;}

.on{background:#f66;border-radius: 10px;color:#fff;text-decoration:none;}

.frame-outer{
	position:relative;
	width:731px;
	height: 1175px;
	float:left;
	margin-left:15px;
	margin-top: 10px;
	border-radius:10px;
	box-shadow: 0 0 14px #848484;
	background: #fff;
	padding: 25px;
}

.frame-title{
	border-bottom: #ccc solid 1px;
}

.clear{clear:both;}

.frame-wrap{
	margin:30px auto;
}
.friend-list{margin:8px auto; padding:4px 0; border-bottom:1px dotted #d3d3d3;height:80px;} 
.friend-list img{float:left; width:50px; margin:4px 0px;} 
.friend-info{float:left; width:530px; overflow:hidden;text-align: left; margin-left: 10px;} 
.friend-info .left{float:left;line-height:20px;} 
.friend-info .left strong{margin-right:6px;} 
.friend-info .right{float: right;line-height:20px; } 
.friend-list a{
	cursor: pointer;
}